# Logs
logs
*.log
npm-debug.log*

# Environment config
.vscode

# node-waf configuration
.lock-wscript

# Compiled bundles
dist/**/*

# Dependency directories
node_modules

# coverage
coverage

# test snapshots
test/**/__snapshots__