# Logs
logs
*.log
npm-debug.log*

# Environment config
.vscode

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist
demo/dist

# Dependency directories
node_modules
